<!-- Edit Activity Start -->
<!-- Modal -->
<div class="modal right fade" id="edit-activity-modal" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <button type="button" class="close md-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Activity</h4>
          <button type="button" class="btn-close xs-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form class="forms-sample" method="POST" action="#" id="activity-updation-form">
            {% csrf_token %}
            <div class="row">
              
              <div class="col-sm-12">
                <div class="form-group">
                  <input class="form-control activity" type="text" name="activity" id="edit-activity-input" value="Call" readonly>
                </div>
                <div class="btn-group mb-3">
                  <button type="button" class="btn btn-light toggle-call-btn" id="edit-toggle-call-btn" title="Call"><i class="fa fa-phone" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-light toggle-meeting-btn" id="edit-toggle-meeting-btn" title="Meeting"><i class="fa fa-users" aria-hidden="true"></i></button>
                  {% comment %} <button type="button" class="btn btn-light toggle-reminder-btn" id="edit-toggle-reminder-btn" title="Reminder / Task"><i class="fa fa-clock-o" aria-hidden="true"></i></button> {% endcomment %}
                  {% comment %} <button type="button" class="btn btn-light toggle-flagged-btn" id="edit-toggle-flagged-btn" title="Flagged"><i class="fa fa-flag" aria-hidden="true"></i></button> {% endcomment %}
                  {% comment %} <button type="button" class="btn btn-light toggle-email-btn" id="edit-toggle-email-btn" title="Email"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button> {% endcomment %}
                  <button type="button" class="btn btn-light toggle-meal-btn" id="edit-toggle-meal-btn" title="Lunch / Meal"><i class="fa fa-cutlery" aria-hidden="true"></i></button>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Starting Date</label>
                     <div class="cal-icon"><input class="form-control datetimepicker" type="text" placeholder="DD/MM/YY" name="starting_date" id="edit-starting-date-input" required></div>
                  </div>
                  <div class="col-md-3">
                    <label class="form-label">Starting Time</label>                       
                    <input class="form-control" type="time" name="starting_time" id="edit-starting-time-input" required>
                  </div>
                  <div class="col-md-3">
                    <label class="form-label">Ending Time</label>
                    <input class="form-control" type="time" name="ending_time" id="edit-ending-time-input" required>
                  </div>
                  <div class="col-md-3">
                    <label class="form-label">Ending Date</label>
                     <div class="cal-icon"><input class="form-control datetimepicker" type="text" placeholder="DD/MM/YY" name="ending_date" id="edit-ending-date-input" required></div>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-label" for="host">Host</label>
                  <input class="form-control" type="text" id="edit-host-input" name="host" placeholder="Host" required>
                </div>
              </div>
              <div class="col-sm-12 title-div" style="display: none;">
                <div class="form-group">
                  <label class="form-label" for="title">Title</label>
                  <input class="form-control" type="text" id="edit-title-input" name="title" placeholder="Title">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-label" for="guest_type">Guest Type</label>
                  <select name="guest_type" id="edit-guest-type-dropdown" class="form-control guest-type-dropdown" required oninput="populateGuest(this.value);">
                    <option value="" disabled selected hidden>Select Guest Type</option>
                    <option value="Contact">Contact</option>
                    <option value="Lead">Lead</option>
                    <option value="Deal">Deal</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 guest-div">
                <div class="form-group">
                  <label class="form-label" for="guest">Guest</label>
                  <select class="form-control guest-dropdown" name="guest" id="edit-guest-dropdown">
                    <option value="" disabled selected hidden>Select Guest</option>
                  </select>
                </div>
              </div>                        
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="row m-0 advanced-options" style="display: none;">
                    <p class="add-advance-options">Add <span class="add-guests" id="edit-add-guests"><a href="#">Guests</a>,</span> <span class="add-location" id="edit-add-location"><a href="#">Location</a></span><span class="add-desciption" id="edit-add-description">, <a href="#">Purpose</a></span></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 guest-input-div" style="display: none;">
                <div class="form-group position-relative">
                  <label class="form-label" for="guests">Guests</label>
                  <select class="form-control guests-dropdown" name="guests" id="edit-guests-dropdown" multiple>
                    <option value="" disabled hidden selected>Select Guests</option>
                 </select>
                 <button type="button" class="btn btn-close btn-sm position-absolute top-0 end-0 border dismiss-guests-btn"></button>
                </div>
                <p>Select with holding <span class="border p-1 px-2 rounded-3">Ctrl</span> button for selecting multiple options.</p>
              </div>
              <div class="col-sm-12 description-input-div" style="display: none;">
                <div class="form-group position-relative">
                  <label class="form-label" for="purpose">Purpose</label>
                  <textarea class="form-control" name="purpose" id="edit-purpose-input" placeholder="Purpose"></textarea>
                  <button type="button" class="btn btn-close btn-sm position-absolute top-0 end-0 border dismiss-description-btn"></button>
                </div>
              </div>
              <div class="col-sm-12 location-input-div" style="display: none;">
                <div class="form-group position-relative">
                  <label class="form-label" for="location">Location</label>
                  <textarea class="form-control" name="location" id="edit-location-input" placeholder="Location"></textarea>
                  <button type="button" class="btn btn-close btn-sm position-absolute top-0 end-0 border dismiss-location-btn"></button>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-label" for="notes">Notes</label>
                  <textarea class="form-control mb-2" rows="3" name="notes" id="edit-notes-input" placeholder="Notes"></textarea>                    
                  <span class="pt-2">Notes are private and visible only within your Pipedrive account</span>                    
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-label" for="user_responsible">User Responsible</label>
                  <select class="form-control" name="user_responsible" id="edit-user-responsible-dropdown" required>
                      <option value="" disabled selected hidden>Select User Responsible</option>
                      {% for user in users %}                      
                      <option value="{{user.pk}}">
                        {% if user.last_name %}
                        {{user.first_name}} {{user.last_name}}
                        {% else %}
                        {{user.first_name}}
                        {% endif %}
                      </option>
                      {% endfor %}
                   </select>
                </div>
              </div>
              
              <div class="col-sm-12 additional-info-div" style="display: none;">
                <div class="form-group">
                  <label class="form-label" for="additional_information">Additional Information</label>
                  <textarea type="text" class="form-control" name="additional_information" id="edit-additional-info" placeholder="Additional Information"></textarea>
                </div>
              </div>
              
            </div>
            
            <div class="submit-section mt-0">
              <div class="form-check mb-4">
                <input type="checkbox" value=checked id="edit-closed-input"  name="closed" id="mark-as-done">
                <label for="mark-as-done">Mark as Done</label>
                </div>
               
            </div>
            <div class="text-center">
                <button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">Update</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary btn-rounded">Cancel</button>
            </div>
          </form>
        </div>	
      </div>
    </div>
</div>
<!-- modal -->
 <!-- Edit Activity End -->