{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="CRMS - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Settings - {% if customer.website_name %} {{customer.website_name}} {% else %} ZENCRM {% endif %}</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" id="website-favicon" {% if customer.favicon %} href="{{customer.favicon.url}}" {% else %} href="{% static 'images/zencrm_mini_logo.png' %}" {% endif %}>
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

        <!-- Feathericon CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">

        <!--font style-->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" rel="stylesheet">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}">

        <!-- Select2 CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

		<!-- Theme CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/theme-settings.css' %}">

		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" class="themecls">

    </head>
    <body id="skin-color" class="inter">
		 
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header" id="heading">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img {% if customer.logo %} src="{{customer.logo.url}}" style="height:50px; width:auto" {% else %} src="{% static 'images/zencrm_logo.png' %}" {% endif %}  alt="Logo" id="website-logo" class="sidebar-logo website-logo">
						<img {% if customer.logo %} src="{{customer.logo.url}}" {% else %} src="{% static 'images/zencrm_logo.png' %}" {% endif %} alt="Logo" id="website-logo" class="mini-sidebar-logo website-logo">
					</a>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Title -->
                <div class="page-title-box">
					<div class="top-nav-search">
							<a href="javascript:void(0);" class="responsive-search">
								<i class="fa fa-search"></i>
						   </a>
							<form action="search.html">
								<input class="form-control" type="text" placeholder="Search here">
								<button class="btn" type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
                </div>
				<!-- /Header Title -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
					<!-- Search -->
					<li class="nav-item">
						
					</li>
					<!-- /Search -->
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
							<img src="{% static 'assets/img/flags/us.png' %}" alt="" height="20"> <span>English</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/us.png' %}" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/fr.png' %}" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/es.png' %}" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/de.png' %}" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->
				
					<!-- Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<i class="fa fa-bell-o"></i> <span class="badge rounded-pill">3</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-03.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-06.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
													<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-17.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-13.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
													<p class="noti-time"><span class="notification-time">2 days ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="activities.html">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					
					<!-- Message Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<i class="fa fa-comment-o"></i> <span class="badge rounded-pill">8</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Messages</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{% static 'assets/img/profiles/avatar-09.jpg' %}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">Richard Miles </span>
													<span class="message-time">12:28 AM</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">John Doe</span>
													<span class="message-time">6 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{% static 'assets/img/profiles/avatar-03.jpg' %}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author"> Tarah Shropshire </span>
													<span class="message-time">5 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{% static 'assets/img/profiles/avatar-05.jpg' %}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">Mike Litorus</span>
													<span class="message-time">3 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{% static 'assets/img/profiles/avatar-08.jpg' %}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author"> Catherine Manseau </span>
													<span class="message-time">27 Feb</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">View all Messages</a>
							</div>
						</div>
					</li>
					<!-- /Message Notifications -->

					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<span class="user-img"><img {% if request.user.image %} src="{{request.user.image.url}}" {% else %} src="{% static 'assets/img/profiles/avatar-21.jpg' %}" {% endif %} alt="">
							<span class="status online"></span></span>
							<span>{{request.user.first_name}}</span>
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{% url 'authentication:my_profile' %}">My Profile</a>
							<a class="dropdown-item" href="{% url 'authentication:settings' %}">Settings</a>
							<a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="{% url 'authentication:my_profile' %}">My Profile</a>
						<a class="dropdown-item" href="{% url 'authentication:settings' %}">Settings</a>
						<a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
                	<form action="search.html" class="mobile-view">
						<input class="form-control" type="text" placeholder="Search here">
						<button class="btn" type="button"><i class="fa fa-search"></i></button>
					</form>
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="nav-item nav-profile">
				              <a href="#" class="nav-link">
				                <div class="nav-profile-image">
				                  <img {% if request.user.image %} src="{{request.user.image.url}}" {% else %} src="{% static 'assets/img/profiles/avatar-17.jpg' %}" {% endif %} alt="profile">				                  
				                </div>
				                <div class="nav-profile-text d-flex flex-column">
				                  <span class="font-weight-bold mb-2">{% if request.user.last_name %} {{request.user.first_name}} {{request.user.last_name}} {% else %} {{request.user.first_name}} {% endif %}</span>
				                  <span class="text-white text-small">{% if request.user.title %} {{request.user.title}} {% endif %}</span>
				                </div>
				                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
				              </a>
				            </li>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-home"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li><a href="{% url 'dashboard:deals_dashboard' %}">Deals Dashboard</a></li>
									<li><a href="{% url 'dashboard:projects_dashboard' %}">Projects Dashboard</a></li>
									<li><a href="{% url 'dashboard:leads_dashboard' %}">Leads Dashboard</a></li>
								</ul>
							</li>
							
							<li> 
								<a href="tasks.html"><i class="feather-check-square"></i> <span>Tasks</span></a>
							</li>
							<li> 
								<a href="contacts.html"><i class="feather-smartphone"></i> <span>Contacts</span></a>
							</li>
							<li> 
								<a href="companies.html"><i class="feather-database"></i> <span>Companies</span></a>
							</li>
							<li> 
								<a href="leads.html"><i class="feather-user"></i> <span>Leads</span></a>
							</li>
							
							<li> 
								<a href="deals.html"><i class="feather-radio"></i> <span>Deals</span></a>
							</li>
							<li> 
								<a href="projects.html"><i class="feather-grid"></i> <span>Projects</span></a>
							</li>
							<li> 
								<a href="reports.html"><i class="feather-bar-chart-2"></i> <span>Reports</span></a>
							</li>
							<li> 
								<a href="activities.html"><i class="feather-calendar"></i> <span>Activities</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-grid"></i> <span> Blogs</span>
									<span class="menu-arrow"></span>
								</a>
								<ul class="sub-menus">
									<li><a href="blog.html" >All Blogs</a></li>
									<li><a href="add-blog.html">Add Blog</a></li>
									<li><a href="edit-blog.html">Edit Blog</a></li>
									<li><a href="blog-Categories.html">Categories</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-clipboard"></i> <span>  Invoices </span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li><a href="invoices.html" >Invoices List</a></li>
									<li><a href="invoice-grid.html" >Invoices Grid</a></li>
									<li><a href="add-invoice.html">Add Invoices</a></li>
									<li><a href="edit-invoice.html">Edit Invoices</a></li>
									<li><a href="view-invoice.html">Invoices Details</a></li>
									<li><a href="invoices-settings.html">Invoices Settings</a></li>
								</ul>
							</li>
							<li> 
								<a href="email.html"><i class="feather-mail"></i> <span>Email</span></a>
							</li>
							
							<li class="active"> 
								<a href="settings.html"><i class="feather-settings"></i> <span>Settings</span></a>
							</li>
							<li class="menu-title"> 
								<span>Pages</span>
							</li>
							
							<li class="submenu">
								<a href="#"><i class="feather-alert-triangle"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li><a href="error-404.html">404 Error </a></li>
									<li><a href="error-500.html">500 Error </a></li>
								</ul>
							</li>
							
							<li class="submenu">
								<a href="#"><i class="feather-list"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li><a href="faq.html"> FAQ </a></li>
									<li><a href="terms.html"> Terms </a></li>
									<li><a href="privacy-policy.html"> Privacy Policy </a></li>
									<li><a href="blank-page.html"> Blank Page </a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>UI Interface</span>
							</li>
							<li> 
								<a href="components.html"><i class="feather-layout"></i> <span>Components</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather feather-box"></i> <span>Elements </span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li><a href="sweetalerts.html">Sweet Alerts</a></li>
									<li><a href="tooltip.html">Tooltip</a></li>
									<li><a href="popover.html">Popover</a></li>
									<li><a href="ribbon.html">Ribbon</a></li>
									<li><a href="clipboard.html">Clipboard</a></li>
									<li><a href="drag-drop.html">Drag & Drop</a></li>
									<li><a href="rangeslider.html">Range Slider</a></li>
									<li><a href="rating.html">Rating</a></li>
									<li><a href="toastr.html">Toastr</a></li>
									<li><a href="text-editor.html">Text Editor</a></li>
									<li><a href="counter.html">Counter</a></li>
									<li><a href="scrollbar.html">Scrollbar</a></li>
									<li><a href="spinner.html">Spinner</a></li>
									<li><a href="notification.html">Notification</a></li>
									<li><a href="lightbox.html">Lightbox</a></li>
									<li><a href="stickynote.html">Sticky Note</a></li>
									<li><a href="timeline.html">Timeline</a></li>
									<li><a href="horizontal-timeline.html">Horizontal Timeline</a></li>
									<li><a href="form-wizard.html">Form Wizard</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather feather-bar-chart-2"></i> <span> Charts </span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li><a href="chart-apex.html">Apex Charts</a></li>
									<li><a href="chart-js.html">Chart Js</a></li>
									<li><a href="chart-morris.html">Morris Charts</a></li>
									<li><a href="chart-flot.html">Flot Charts</a></li>
									<li><a href="chart-peity.html">Peity Charts</a></li>
									<li><a href="chart-c3.html">C3 Charts</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather feather-award"></i> <span> Icons </span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li><a href="icon-fontawesome.html">Fontawesome Icons</a></li>
									<li><a href="icon-feather.html">Feather Icons</a></li>
									<li><a href="icon-ionic.html">Ionic Icons</a></li>
									<li><a href="icon-material.html">Material Icons</a></li>
									<li><a href="icon-pe7.html">Pe7 Icons</a></li>
									<li><a href="icon-simpleline.html">Simpleline Icons</a></li>
									<li><a href="icon-themify.html">Themify Icons</a></li>
									<li><a href="icon-weather.html">Weather Icons</a></li>
									<li><a href="icon-typicon.html">Typicon Icons</a></li>
									<li><a href="icon-flag.html">Flag Icons</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-credit-card"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li><a href="form-basic-inputs.html">Basic Inputs </a></li>
									<li><a href="form-input-groups.html">Input Groups </a></li>
									<li><a href="form-horizontal.html">Horizontal Form </a></li>
									<li><a href="form-vertical.html"> Vertical Form </a></li>
									<li><a href="form-mask.html"> Form Mask </a></li>
									<li><a href="form-validation.html"> Form Validation </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-box"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li><a href="tables-basic.html">Basic Tables </a></li>
									<li><a href="data-tables.html">Data Table </a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Extras</span>
							</li>
							
							<li class="submenu">
								<a href="javascript:void(0);"><i class="feather-command"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li class="submenu">
										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
										<ul class="sub-menus">
											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
											<li class="submenu">
												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
												<ul class="sub-menus">
													<li><a href="javascript:void(0);">Level 3</a></li>
													<li><a href="javascript:void(0);">Level 3</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);"> <span>Level 1</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">

                	<div class="crms-title row bg-white">
                		<div class="col  p-0">
                			<h3 class="page-title m-0">
			                <span class="page-title-icon bg-gradient-primary text-white me-2">
			                  <i class="fa fa-cog" aria-hidden="true"></i>
			                </span> Settings </h3>
                		</div>
                		<div class="col p-0 text-end">
                			<ul class="breadcrumb bg-white float-end m-0 ps-0 pe-0">
								<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
								<li class="breadcrumb-item active">Settings</li>
							</ul>
                		</div>
                	</div>

					<div class="settings-menu-links">
						<ul class="nav nav-tabs menu-tabs">
							<li class="nav-item active">
								<a class="nav-link" href="{% url 'authentication:settings' %}">General Settings</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'authentication:localization_settings' %}">Localization</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'authentication:payment_settings' %}">Payment Settings</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'authentication:email_settings' %}">Email Settings</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'authentication:social_media_settings' %}">Social Media Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'authentication:social_link_settings' %}">Social Links</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'authentication:seo_settings' %}">SEO Settings</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'authentication:other_settings' %}">Others</a>
							</li>
						</ul>
					</div>

					<div id="message-div">
						{% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
							{% endfor %}
						</ul>
						{% endif %}
					</div>
					{% if request.user.email == customer.email %}
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Website Basic Details</h5>
								</div>
								<div class="card-body pt-0">
									<form method="POST" enctype="multipart/form-data" action="{% url 'authentication:update_customer_basic' customer.pk %}">
										{% csrf_token %}
										<div class="settings-form">
											<div class="form-group">
												<label>Website Name <span class="star-red">*</span></label>
												<input type="text" class="form-control" name="website_name" value="{{customer.website_name}}" placeholder="Enter Website Name">
											</div>
											<div class="form-group">
												<p class="settings-label">Logo <span class="star-red">*</span></p>
												<div class="settings-btn">
													<input type="file" accept="image/*" name="logo" id="logo-file" onchange="loadWebsiteLogo(this)" class="hide-input">
													<label for="logo-file" class="upload">
														<i class="feather-upload"></i>
													</label>
												</div>
												<h6 class="settings-size">Recommended image size is <span>150px x 150px</span></h6>
																								
												<div class="upload-images" id="logo-preview-box" style="min-width:fit-content; {% if not customer.logo %} display:none; {% endif %}">
													<img {% if customer.logo %} src="{{customer.logo.url}}" {% else %} src="{% static 'images/zencrm_logo.png' %}" {% endif %} id="website-logo-preview" alt="Image">
													<a href="javascript:void(0);" class="btn-icon logo-hide-btn">
														<i class="feather-x-circle" onclick="removeCustomerLogo({{customer.pk}}); return false;"></i>
													</a>
												</div>												

											</div>
											<div class="form-group">
												<p class="settings-label">Favicon <span class="star-red">*</span></p>
												<div class="settings-btn">
													<input type="file" accept="image/*" name="favicon" id="favicon-file" onchange="loadWebsiteFavicon(this)" class="hide-input">
													<label for="favicon-file" class="upload">
														<i class="feather-upload"></i>
													</label>
												</div>
												<h6 class="settings-size">
													Recommended image size is <span>16px x 16px or 32px x 32px</span>
												</h6>
												<h6 class="settings-size mt-1">Accepted formats: only png and ico</h6>
												
												<div class="upload-images upload-size" id="favicon-preview-box" style="min-width:fit-content; padding: 3px; {% if not customer.favicon %} display:none; {% endif %}">
													<img {% if customer.favicon %} src="{{customer.favicon.url}}" {% else %} src={% static 'images/zencrm_mini_logo.png' %} {% endif %} id="website-favicon-preview" alt="Image">
													<a href="javascript:void(0);" class="btn-icon logo-hide-btn">
														<i class="feather-x-circle" onclick="removeCustomerFavicon({{customer.pk}}); return false;"></i>
													</a>
												</div>

											</div>
											<div class="row">
												<div class="col-lg-5 col-md-6">
													<div class="form-group">
														<div class="status-toggle d-flex justify-content-between align-items-center">
															<p class="mb-0">RTL</p>
															<input type="checkbox" id="status_1" class="check">
															<label for="status_1" class="checktoggle">checkbox</label>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group mb-0">
												<div class="settings-btns">
													<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">Update</button>&nbsp;&nbsp;
													<button type="submit" class="btn btn-secondary btn-rounded">Cancel</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Address Details</h5>
								</div>
								<div class="card-body pt-0">
									<form>
										<div class="settings-form">
											<div class="form-group">
												<label>Address Line 1 <span class="star-red">*</span></label>
												<input type="text" class="form-control" placeholder="Enter Address Line 1">
											</div>
											<div class="form-group">
												<label>Address Line 2 <span class="star-red">*</span></label>
												<input type="text" class="form-control" placeholder="Enter Address Line 2">
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>City <span class="star-red">*</span></label>
														<input type="text" class="form-control">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>State/Province <span class="star-red">*</span></label>
														<select class="select form-control">
															<option selected="selected">Select</option>
															<option>California</option>
															<option>Tasmania</option>  
															<option>Auckland</option>
															<option>Marlborough</option>
														</select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Zip/Postal Code <span class="star-red">*</span></label>
														<input type="text" class="form-control">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Country <span class="star-red">*</span></label>
														<select class="select form-control">
															<option selected="selected">Select</option>
															<option>India</option>
															<option>London</option>  
															<option>France</option>
															<option>USA</option>
														</select>
													</div>
												</div>
											</div>
											<div class="form-group mb-0">
												<div class="settings-btns">
													<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">Update</button>&nbsp;&nbsp;
													<button type="submit" class="btn btn-secondary btn-rounded">Cancel</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Number of Users</h5>
								</div>
								<div class="card-body pt-0">
									{% if customer %}
									<form method="POST" action="{% url 'authentication:update_number_of_users' customer.pk %}">
										{% csrf_token %}
										<div class="settings-form">											
											<div class="form-group">
												<label>Number of Users <span class="star-red">*</span></label>
												<input type="number" class="form-control" name="no_of_users" id="no_of_users_input" oninput="manageNoOfUsers(this.value, 5000)" value="{{customer.no_of_users}}" placeholder="Number of Users">												
											</div>
											<div id="user-upgrade-details" style="display: none;">											
												<p>Amount payable: <span id="payable-amount"></span></p>
											</div>
											<div class="form-group mb-0">
												<div class="settings-btns" id="no_of_user_btn_section" style="display:none">
													<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded" id="no-of-users-submit-btn"></button>&nbsp;&nbsp;
													<button type="button" class="btn btn-secondary btn-rounded">Cancel</button>
												</div>
											</div>
										</div>
									</form>									
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					

					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Add New User</h5>
								</div>
								<div class="card-body pt-0">
									{% if customer and eligible_to_create %}
									<form method="POST" action="{% url 'authentication:add_user' %}">
										{% csrf_token %}
										<div class="settings-form">											
											<div class="form-group">
												<label>Username <span class="star-red">*</span></label>
												<input type="text" class="form-control" name="username" placeholder="Username of new user">
											</div>
											<div class="form-group">
												<label>Email ID <span class="star-red">*</span></label>
												<input type="text" class="form-control" name="email" placeholder="Email ID of new user">
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Password <span class="star-red">*</span></label>
														<input type="password" class="form-control" name="password" placeholder="Password">
													</div>
												</div>												
												<div class="col-md-6">
													<div class="form-group">
														<label>Repeat Password <span class="star-red">*</span></label>
														<input type="password" class="form-control" name="repeat_password" placeholder="Repeat Password">
													</div>
												</div>												
											</div>
											<div class="form-group mb-0">
												<div class="settings-btns">
													<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">Add</button>&nbsp;&nbsp;
													<button class="btn btn-secondary btn-rounded">Cancel</button>
												</div>
											</div>
										</div>
									</form>
									{% else %}
									<h5 class="alert alert-warning">Already exceeded the available slot of users. Please upgrade to add more users.</h5>
									{% endif %}
								</div>
							</div>
							
						</div>
						<div class="col-md-6">
							<div class="card" style="height: 407px;">
								<div class="card-header d-flex justify-content-between align-items-center">
									<h5 class="card-title">{{customer.organization}} CRM Users</h5>
									<button class="btn m-0 p-0 px-2" id="user-delete-btn" onclick="toggleDeletionView()"><i class="fa fa-trash"></i></button>
								</div>
								<div class="card-body pt-0" style="overflow: auto;">
									{% if customer %}
									<div class="table table-striped table-nowrap custom-table mb-0 datatable">
										<table class="table">
											<thead>
												<tr>
													<th>No</th>
													<th>Username</th>
													<th>Created</th>
												</tr>
											</thead>
											<tbody>
												{% for user in users %}
												<tr>
													<td>{{forloop.counter}}</td>
													<td>{{user.username}}</td>
													<td>{{user.created}}</td>
													{% if user.email != customer.email %}
													<td class="deletion-section" style="display: none;">
														<button class="btn text-danger p-0 m-0" data-bs-toggle="modal" data-bs-target="#delete-user-modal" data-user-id="{{user.pk}}" onclick="deleteUser({{user.pk}}); return false;" title="Delete User"><i class="fa fa-minus"></i></button>
													</td>
													{% endif %}
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>				
									{% endif %}									
								</div>
							</div>
						</div>
					</div>

					{% endif %}

					<div class="row">
						<div class="col-md-6">
							<div class="card" style="height:317px">
								<div class="card-header">
									<h5 class="card-title">My Username</h5>
								</div>
								<div class="card-body pt-0">									
									<form method="POST" action="{% url 'authentication:update_username' %}">
										{% csrf_token %}
										<div class="settings-form">											
											<div class="form-group">
												<label>Username <span class="star-red">*</span></label>
												<input type="text" class="form-control" name="username" placeholder="Username of new user" value="{{request.user.username}}">
											</div>										
											<div class="form-group mb-0">
												<div class="settings-btns">
													<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">Update</button>&nbsp;&nbsp;
													<button class="btn btn-secondary btn-rounded">Cancel</button>
												</div>
											</div>
										</div>
									</form>									
								</div>
							</div>							
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Change My Password</h5>
								</div>
								<div class="card-body pt-0">									
									<form method="POST" action="{% url 'authentication:change_password' %}">
										{% csrf_token %}
										<div class="settings-form">											
											<div class="form-group d-flex align-items-center">
												<label class="form-label w-50">Current Password <span class="star-red">*</span></label>
												<input type="password" class="form-control" name="password" placeholder="Current Password">
											</div>								
											<div class="form-group d-flex align-items-center">
												<label class="form-label w-50">New Password <span class="star-red">*</span></label>
												<input type="password" class="form-control" name="new_password" placeholder="New Password">
											</div>
											<div class="form-group d-flex align-items-center">
												<label class="form-label w-50">Repeat New Password <span class="star-red">*</span></label>
												<input type="password" class="form-control" name="repeat_password" placeholder="Repeat New Password">
											</div>
											<div class="form-group mb-0">
												<div class="settings-btns">
													<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">Reset</button>&nbsp;&nbsp;
													<button class="btn btn-secondary btn-rounded">Cancel</button>
												</div>
											</div>
										</div>
									</form>									
								</div>
							</div>							
						</div>
					</div>
					
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->

		<!-- Modal (Delete User Confirmation) -->
		<div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-modal="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-center">Deleting User '<span id="deleting-user-object"></span>'</h4>
						<button type="button" class="btn-close xs-close" data-bs-dismiss="modal"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<form method="GET" id="delete-user-form" action="#">
									{% csrf_token %}
									<h5>Are you sure?</h5>								
									<div class="text-center py-3">
										<button type="submit" class="border-0 btn btn-danger btn-gradient-primary btn-rounded">Yes</button>&nbsp;&nbsp;
										<button type="button" class="btn btn-secondary btn-rounded" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div><!-- modal-content -->
			</div><!-- modal-dialog -->
		</div><!-- modal (Delete User Confirmation) --> 

		<!--theme settings modal-->

		<div class="modal right fade settings" id="settings"  role="dialog" aria-modal="true">
			<div class="toggle-close">
				  <div class="toggle" data-bs-toggle="modal" data-bs-target="#settings"><i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
				  </div>
	   
			</div>
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header p-3">
						<h4 class="modal-title" id="myModalLabel2">Theme Customizer</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
					</div>

					<div class="modal-body pb-3">
						<div class="scroll">
						
						<div>
							<ul class="list-group">
								<li class="list-group-item border-0">
								  <div class="row">
									<div class="col">
									  <h5 class="pb-2">Primary Skin</h5>
									</div>
									<div class="col text-end d-none">
									  <a class="reset text-white bg-dark" id="ChangeprimaryDefault">Reset Default</a>
									</div>
								  </div>
								  <div class="theme-settings-swatches">
									 <div class="themes">
											<div class="themes-body">
												<ul id="theme-changes" class="theme-colors border-0 list-inline-item list-unstyled mb-0">
													
													<li class="theme-title">Solid Color</li>
													<li class="list-inline-item"><span onclick="toggleTheme('style')" class="theme-defaults bg-warnings"  ></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-green')" class="theme-solid-purple bg-warnings"  ></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-blue')" class="theme-solid-black bg-blue"></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-orange')" class="theme-solid-pink bg-orange"></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-pink')" class="theme-solid-pink bg-pink"></span></li> 
													<li class="list-inline-item"><span onclick="toggleTheme('style-purple')" class="theme-solid-purle bg-purple"></span></li> 
													<li class="list-inline-item"><span onclick="toggleTheme('style-red')" class="theme-solid-danger bg-danger"></span></li> 
													<li><br /></li>
													<li><hr /></li>

													<li class="theme-title">Gradient Color</li>
													

													<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-blue')" class="theme-orange bg-sunny-mornings"></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-green')" class="theme-blue bg-tempting-azures"></span></li> 
													<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-maroon')" class="theme-grey bg-amy-crisps"></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-orange')" class="theme-lgrey bg-mean-fruits"></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-pink')" class="theme-dblue bg-malibu-beachs"></span></li> 
												</ul>
											</div>
										</div>
								  </div>
								  </li>
							  </ul>
						  </div>
						  <div>
							<ul class="list-group">
							  <li class="list-group-item border-0">
								 <div class="row">
								  <div class="col">
									<h5 class="pb-2">Header Style</h5>
								  </div>
								  <div class="col text-end">
									<a class="reset text-white bg-dark" id="ChageheaderDefault">Reset Default</a>
								  </div>
								</div>
								<div class="theme-settings-swatches">
									<div class="themes">
										<div class="themes-body">
											<ul id="theme-change1" class="theme-colors border-0 list-inline-item list-unstyled mb-0">
													<li class="theme-title">Solid Color</li>
													<li class="list-inline-item"><span class="header-solid-black bg-black"></span></li>
													<li class="list-inline-item"><span class="header-solid-pink bg-primary"></span></li>
													<li class="list-inline-item"><span class="header-solid-orange bg-secondary1"></span></li> 
													<li class="list-inline-item"><span class="header-solid-purple bg-success"></span></li>
													<!-- <li class="list-inline-item"><span class="header-solid-blue bg-info"></span></li> -->
													<li class="list-inline-item"><span class="header-solid-green bg-warnings"></span></li>
													<li><br></li>
													<li><hr></li>

													<li class="theme-title">Gradient Color</li>

													<li class="list-inline-item"><span class="header-gradient-color1 bg-sunny-morning"></span></li>
													<li class="list-inline-item"><span class="header-gradient-color2 bg-tempting-azure"></span></li> 
													<li class="list-inline-item"><span class="header-gradient-color3 bg-amy-crisp"></span></li>
													<li class="list-inline-item"><span class="header-gradient-color4 bg-mean-fruit"></span></li>
													<li class="list-inline-item"><span class="header-gradient-color5 bg-malibu-beach"></span></li> 
													<li class="list-inline-item"><span class="header-gradient-color6 bg-ripe-malin"></span></li> 
													<li class="list-inline-item"><span class="header-gradient-color7 bg-plum-plate"></span></li>
													
											</ul>
										</div>
									</div>
									
								  </div>
							  </li>
							</ul>
						  </div>
						  <div>
							<ul class="list-group m-0">
								<li class="list-group-item border-0">
								  <div class="row">
									<div class="col">
									  <h5 class="pb-2">Apps Sidebar Style</h5>
									</div>
									<div class="col  text-end">
									  <a class="reset text-white bg-dark" id="ChagesidebarDefault">Reset Default</a>
									</div>
								  </div>
								  <div class="theme-settings-swatches">
									  <div class="themes">
										  <div class="themes-body">
											  <ul id="theme-change2" class="theme-colors border-0 list-inline-item list-unstyled">
													  <li class="theme-title">Solid Color</li>
													  <li class="list-inline-item"><span class="sidebar-solid-black bg-black"></span></li>
													  <li class="list-inline-item"><span class="sidebar-solid-pink bg-primary"></span></li>
													  <li class="list-inline-item"><span class="sidebar-solid-orange bg-secondary1"></span></li> 
													  <li class="list-inline-item"><span class="sidebar-solid-purple bg-success"></span></li>
													  <!-- <li class="list-inline-item"><span class="sidebar-solid-blue bg-info"></span></li> -->
													  <li class="list-inline-item"><span class="sidebar-solid-green bg-warnings"></span></li>
													  <li><br></li>
													  <li><hr></li>

													  <li class="theme-title">Gradient Color</li>

													  <li class="list-inline-item"><span class="sidebar-gradient-color1 bg-sunny-morning"></span></li>
													  <li class="list-inline-item"><span class="sidebar-gradient-color2 bg-tempting-azure"></span></li> 
													  <li class="list-inline-item"><span class="sidebar-gradient-color3 bg-amy-crisp"></span></li>
													  <li class="list-inline-item"><span class="sidebar-gradient-color4 bg-mean-fruit"></span></li>
													  <li class="list-inline-item"><span class="sidebar-gradient-color5 bg-malibu-beach"></span></li> 
													  <li class="list-inline-item"><span class="sidebar-gradient-color6 bg-ripe-malin"></span></li> 
													  <li class="list-inline-item"><span class="sidebar-gradient-color7 bg-plum-plate"></span></li>
													  
											  </ul>
										  </div>
									  </div>
									  
									</div>
								</li>
							  </ul>
							<div class="row Default-font">
								<div class="col">
									<h5 class="pb-2">Font Style</h5>
								</div>
								<div class="col text-end">
									<a class="reset text-white bg-dark font-Default">Reset Default</a>
								</div>
							</div>
							<ul class="list-inline-item list-unstyled font-family border-0 p-0" id="theme-change">
							  
							  <li class="list-inline-item roboto-font" >Roboto</li>
							  <li class="list-inline-item poppins-font">Poppins</li>
							  <li class="list-inline-item montserrat-font" >Montserrat</li>
							  <li class="list-inline-item inter-font">Inter</li>
							</ul>
						</div>
						
					</div>
					</div>

				</div>
			</div>
		</div>
		<!--theme settings-->
        <div class="sidebar-contact">
          	<div class="toggle" data-bs-toggle="modal" data-bs-target="#settings"><i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i></div>
           
        </div>


		<!-- jQuery -->
        <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
		<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

		<!-- Select2 JS -->
		<script src="{% static 'assets/js/select2.min.js' %}"></script>
		<!-- theme JS -->
		<script src="{% static 'assets/js/theme-settings.js' %}"></script>
		
		<!-- Custom JS -->
		<!-- theme JS -->
		<script src="{% static 'assets/js/theme-settings.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'assets/js/app.js' %}"></script>

		<!-- Message TimeOut Function -->
		<script src="{% static 'js/messageTimeOut.js' %}"></script>

		<!-- Load website/customer logo -->
		<script src="{% static 'js/authentication/customer/loadWebsiteLogo.js' %}"></script>
		<script src="{% static 'js/authentication/customer/loadWebsiteFavicon.js' %}"></script>

		<!-- To Remove website/customer logo or favicon -->
		<script src="{% static 'js/authentication/customer/removeCustomerLogo.js' %}"></script>
		<script src="{% static 'js/authentication/customer/removeCustomerFavicon.js' %}"></script>

		<!-- For Upgrading number of users -->
		<script src="{% static 'js/authentication/customer/upgradeNoOfUsers.js' %}"></script>

		<script>
			var userDeletionBtn = document.getElementById('user-delete-btn')
			var deletionSection = document.getElementsByClassName('deletion-section')
			var userDeletionBtnCurrentHtml = userDeletionBtn.innerHTML
			var userDeletionBtnCurrentClass = userDeletionBtn.className
			var userDeletionCurrentAttribute = userDeletionBtn.getAttribute('onclick')

			if (userDeletionBtn != null) {

				
				function toggleDeletionView() {
					userDeletionBtn.innerHTML='';
					userDeletionBtn.classList.add('btn-sm', 'btn-close', 'border', 'border-dark', 'rounded-circle', 'py-2');
					userDeletionBtn.setAttribute('onclick', 'untoggleDeletionView()');

					for (var i = 0; i < deletionSection.length; i++) {
						deletionSection[i].style.display = "block";
					}
				}
			
				function untoggleDeletionView() {
					userDeletionBtn.innerHTML = userDeletionBtnCurrentHtml
					userDeletionBtn.className = userDeletionBtnCurrentClass
					userDeletionBtn.setAttribute('onclick', userDeletionCurrentAttribute)

					for (var i = 0; i < deletionSection.length; i++) {
						deletionSection[i].style.display = "none";
					}
				}
			}

			function deleteUser(userId) {
				$.ajax({
					type: 'GET',
					url: '/authentication/detail_user/' + userId,
					dataType: 'json',
					success: function (user) {
						$('#delete-user-form').prop('action', '/authentication/delete_user/' + userId)

						if (user.username != null ||user.username != '') {
							$('#deleting-user-object').html(user.username);
						} else {
							$('#deleting-user-object').html('');
						}
					},
					error: function (error) {
						console.error("Error: ", error);
					}

				})
			}
			</script>
			</body>
</html>