<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repair Request Submission</title>
</head>

<body style="font-family: sans-serif; padding: 20px; background-color: #f4f4f4;">

    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

        <h3 id="main-heading" style="text-align: center;">{{email_subject}}</h3>
        <br>

        <p>Dear {{name}},
            <br><br>
            OTP for resetting your crm user account is <span style="color: royalblue">{{otp}}</span>.
            Submit this OTP along with your new password to reset your password.
        </p>    
        <br><br><br><br><br><br><br><br><br>
        <p>Best regards,
            <br>
            ZENCRM Team
            <br>
            Contact No: 7561866000 / 9809717372
            <br>
            Email - <a href="mailto:w3digitalpmna.com">w3digitalpmna.com</a>
        </p>

    </div>

</body>

</html>
