{% extends "contacts/base.html" %}
{% load static %}

{% block title %}Messages{% endblock title %}

{% block page_content %}
<!-- Page Content -->
<div class="content container-fluid">
					
    <!-- Page Header -->
    <div class="crms-title row bg-white mb-4">
        <div class="col  p-0">
            <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
              <i class="la la-columns"></i>
            </span> Messages </h3>
        </div>
        <div class="col p-0 text-end">
            <ul class="breadcrumb bg-white float-end m-0 ps-0 pe-0">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:deals_dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Messages</li>
            </ul>
        </div>
    </div>
    <!-- /Page Header -->
    
    <!-- Content Starts -->
        <div class="row">
            <div class="col-lg-4">
                <div class="d-flex justify-content-between align-items-center p-1 mb-2" style="background: linear-gradient(to right, #da8cff, #9a55ff);">
                    <h4 class="p-0 m-0 text-light"><b>All Conversations</b></h4>
                    <button type="button" class="btn btn-sm btn-dark text-warning">New Message</button>
                </div>
                <div class="row bg-white p-1 mx-1 shadow" style="height: 75px; overflow-y: hidden; text-overflow: ellipsis;">
                    <div class="col-3">
                        <img class="border border-secondary bg-light rounded-circle" src="https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" alt="" height="65px" width="65px">
                    </div>
                    <div class="col-9">
                        <h6><b>{% if text_messages.last.sender != request.user %} {{text_messages.last.sender}} {% else %} {{text_messages.last.receiver}} {% endif %}</b></h6>
                        <p><small>{% if text_messages.last.sender != request.user %} {{text_messages.last.sender}} {% else %} You {% endif %}: {{text_messages.last.content}}</small></p>
                    </div>
                </div>
            </div>
            <div class="col-8 bg-white p-1 shadow">
                <div class="d-flex align-items-center border-bottom border-dark  p-1 mb-2">
                    <h4 class="p-0 m-0">Design Team</h4>
                </div>
                {% for message in text_messages %}
                
                {% if message.sender != request.user %}                
                <div class="mb-2 ms-2" style="width:fit-content">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="p-1 mx-1 mb-1 d-flex justify-content-start align-items-center">                    
                            <img class="border border-dark rounded-circle me-2" src="https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" alt="" height="25px" width="25px">
                            <h6 class="p-0 m-0">{{message.sender}}</h6>                    
                        </div>
                        <div>
                            <span class="text-secondary"><small>{{message.timestamp}}</small></span>
                        </div>
                    </div>
                    <div class="rounded-3 text-light shadow px-1" style="background: linear-gradient(to right, #da8cff, #9a55ff);">
                        <p class="p-2 m-0"><small>{{message.content}}</small></p>
                    </div>
                </div>
                {% else %}
                <div class="d-flex flex-column align-items-end me-2">
                    <div class="d-flex justify-content-end w-75">
                        <span class="text-secondary"><small>{{message.timestamp}}</small></span>
                    </div>
                    <div class="rounded-3 text-light shadow px-1 mb-2 bg-secondary" style="width:fit-content">
                        <p class="p-2 m-0"><small>{{message.content}}</small></p>
                    </div>
                </div>
                {% endif %}
                <div id="chat-box"></div>
                {% endfor %}
                
                <br>
                <div class="p-2 bg-dark">
                    <form>
                        {% csrf_token %}
                        <div class="form-group d-flex align-items-center">
                            <input class="form-control" type="text" name="content" id="text-message" placeholder="Message">
                            <button type="button" id="send-message-btn" class="btn btn-primary text-light ms-2">Send</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    <!-- /Content End -->
    
</div>
<!-- /Page Content -->
{% endblock page_content %}

{% block scripts %}
<script>    
    // setup chat scoket
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/public_room/'
    );

    // on socket open
    chatSocket.onopen = function (e) {
        console.log('Chat socket successfully connected.');
    };

    // on socket close
    chatSocket.onclose = function (e) {
        console.log('Chat socket closed unexpectedly');
    };

    // on receiving message on group
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data.message;
        
        setMessage(message);
    };

    // sending the text message to server
    document.querySelector('#send-message-btn').onclick = function(e) {            
            const messageInputDom = document.querySelector('#text-message');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'receiver': 'Anonymous',
                'message': message,
            }));
            
            messageInputDom.value = '';
    };

    // helper func setting message
    function setMessage(message){
        // var div = document.createElement('div');
        // div.className = 'alert alert-success alert-dismissible fade show';
        // div.setAttribute('role', 'alert');

        var textMessage = `<div class="d-flex flex-column align-items-end me-2">
                            <div class="d-flex justify-content-end w-75">
                                <span class="text-secondary"><small>{{message.timestamp}}</small></span>
                            </div>
                            <div class="rounded-3 text-light shadow px-1 mb-2 bg-secondary" style="width:fit-content">
                                <p class="p-2 m-0"><small>` + message + `</small></p>
                            </div>
                            </div>`

        // var message = document.createTextNode(message);
        // div.appendChild(textMessage);
         
        // var closeButton = document.createElement('button');
        // closeButton.type = 'button';
        // closeButton.className = 'btn-close';
        // closeButton.setAttribute('data-bs-dismiss', 'alert');
        // closeButton.setAttribute('aria-label', 'Close');
        // div.appendChild(closeButton);

        var container = document.getElementById('chat-box');  
        $('#chat-box').append(textMessage);
    }

</script>
{% endblock scripts %}