{% extends "contacts/base.html" %}
{% load static %}

{% block title %}Messages{% endblock title %}

{% block page_content %}
<style>
    #active-conversation {
        background: linear-gradient(to right, #da8cff, #9a55ff);;
    }

    #chat-section{
        display: none;
    }

    #chat-box {
        min-height: 360px;
    }

    #all-conversation-header {
        background: linear-gradient(to right, #da8cff, #9a55ff);
    }

    .active-conversation {
        background: linear-gradient(to right, #da8cff, #9a55ff);
        color: #fff;
    }

    #conversation-tile-link {
        color: #777;
    }

    #conversation-tile-link :hover {
        background: linear-gradient(to right, #da8cff, #9a55ff);
        color: #fff;
    }
</style>

<!-- Page Content -->
<div class="content container-fluid">
					
    <!-- Page Header -->
    <div class="crms-title row bg-white mb-4">
        <div class="col  p-0">
            <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
              <i class="la la-columns"></i>
            </span> Messages </h3>
        </div>
        <div class="col p-0 text-end">
            <ul class="breadcrumb bg-white float-end m-0 ps-0 pe-0">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:deals_dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Messages</li>
            </ul>
        </div>
    </div>
    <!-- /Page Header -->
    
    <!-- Content Starts -->
        <div class="row">
            <div class="col-lg-4">
                <div class="d-flex justify-content-between align-items-center p-1 mb-2" id="all-conversation-header">
                    <h4 class="p-0 m-0 text-light"><b>All Conversations</b></h4>
                    <button type="button" class="btn btn-sm btn-dark text-warning" data-bs-toggle="modal" data-bs-target="#create-conversation-modal">New Message<i class="fa fa-pencil ps-1"></i></button>
                    
                    <!-- Create Conversation Modal Start -->
                    <div class="modal fade" id="create-conversation-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Select Recipient</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" id="start-conversation-form">                                
                                <select class="form-control" name="participants" id="recipient-dropdown" multiple required>
                                    {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                                
                                <div class="modal-footer text-center">
                                    <button class="btn btn-primary" id="start-conversation-btn" data-bs-dismiss="modal" aria-label="Close" disabled>Start Conversation</button>
                                </div>

                                
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- Create Conversation Modal End -->
                </div>

                <div id="conversations">
                    {% for conversation in conversations %}
                    <a href="#" class="" id="conversation-tile-link" onclick="(e) => e.preventDefault; conversationWebsocket({{conversation.pk}}); setActiveConversation({{conversation.pk}});">
                        <div class="row p-1 mx-1 shadow mb-2 conversation-tile" id="conversation-tile-{{conversation.pk}}" style="height: 75px; overflow-y: hidden; text-overflow: ellipsis;">
                            <div class="col-3">
                                <img class="border border-secondary rounded-circle" src="{% for participant in conversation.participants.all %} {% if participant != request.user %} {% if participant.image %} {{participant.image.url}} {% else %} https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg {% endif %} {% endif %} {% endfor %}" alt="Messaging User Image" height="65px" width="65px">
                            </div>
                            <div class="col-9">
                                <h6><b>{% for participant in conversation.participants.all %} {% if participant != request.user %} {{participant}} {% endif %} {% endfor %}</b></h6>
                                <p><small id="last-message-{{conversation.pk}}">{{conversation.last_message}}</small></p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>

            </div>
            <div class="col-8 bg-white p-1 shadow" id="chat-section">
                <div class="d-flex align-items-center border-bottom border-dark  p-1 mb-2">
                    <h4 class="p-0 m-0" id="chat-heading"></h4>
                </div>
                {% comment %} {% for message in text_messages %}
                
                {% if message.sender != request.user %}                
                <div class="mb-2 ms-2" style="width:fit-content">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="p-1 mx-1 mb-1 d-flex justify-content-start align-items-center">                    
                            <img class="border border-dark rounded-circle me-2" src="https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" alt="" height="25px" width="25px">
                            <h6 class="p-0 m-0">{{message.sender}}</h6>                    
                        </div>
                        <div>
                            <span class="text-secondary"><small>{{message.timestamp}}</small></span>
                        </div>
                    </div>
                    <div class="rounded-3 text-light shadow px-1" style="background: linear-gradient(to right, #da8cff, #9a55ff);">
                        <p class="p-2 m-0"><small>{{message.content}}</small></p>
                    </div>
                </div>
                {% else %}
                <div class="d-flex flex-column align-items-end me-2">
                    <div class="d-flex justify-content-end w-75">
                        <span class="text-secondary"><small>{{message.timestamp}}</small></span>
                    </div>
                    <div class="rounded-3 text-light shadow px-1 mb-2 bg-secondary" style="width:fit-content">
                        <p class="p-2 m-0"><small>{{message.content}}</small></p>
                    </div>
                </div>
                {% endif %}
                {% endfor %} {% endcomment %}
                <div id="chat-box" style="max-height: 360px; overflow-y: auto;"></div>
                
                <br>
                <div class="p-2 bg-dark">
                    <form>
                        {% csrf_token %}
                        <div class="form-group d-flex align-items-center">
                            <input class="form-control" type="text" name="message" id="chat-input" placeholder="Message">
                            <button type="button" class="btn btn-primary text-light ms-2" onclick="sendMessage();">Send</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    <!-- /Content End -->
    
</div>
<!-- /Page Content -->
{% endblock page_content %}

{% block scripts %}
<!-- Create Conversation Submit button function Start -->
<script>
    const startConversationBtn = $('#start-conversation-btn')
    const recipientDropdown = $('#recipient-dropdown');

    recipientDropdown.on('input', () => {
        if (recipientDropdown.val() != null && recipientDropdown.val() != '' && recipientDropdown.val() != undefined) {
            startConversationBtn.prop('disabled', false);
        } else {
            startConversationBtn.prop('disabled', true)
        };
    })
</script>
<!-- Create Conversation Submit button function End -->

<script>
    window.onload = () => {
        localStorage.setItem('receiver', undefined);
    };

    const conversationTileLink = $('#conversation-tile-link');
    

    $('#start-conversation-btn').on('click', () => {
        let selectedReceiver = $('#recipient-dropdown').val();
        localStorage.setItem('receiver', selectedReceiver);
        // startWebSocket();
    });

    
    // Conversation WebSocket Starting
    {% comment %} function conversationWebsocket (conversationId = undefined) {
        var conversationSocket = undefined;        

        if (conversationId) {
            console.log("Conversation Websocket Started")
            localStorage.setItem('conversationId', conversationId)
            conversationSocket = new WebSocket(
                `ws://${window.location.host}/ws/chat/${conversationId}/`
            );

            // on socket open
            conversationSocket.onopen = function (e) {
                console.log('Conversation socket successfully connected.');
            };

            // on socket close
            conversationSocket.onclose = function (e) {
                console.log('Conversation socket closed unexpectedly');
            };

            var currentUserUsername = "{{ request.user.username }}"
            var currentUserId = "{{ request.user.pk }}"

            conversationSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                
                if (data.type === 'initial_messages') {                    
                    if (data.messages) {
                        if (data.messages[0].sender != "{{request.user.username}}") {
                            localStorage.setItem('receiver', data.messages[0].sender_id);
                            $('#chat-heading').html(data.messages[0].sender_full_name);
                        } else {
                            localStorage.setItem('receiver', data.messages[0].receiver_id);
                            $('#chat-heading').html(data.messages[0].receiver_full_name);
                        };

                        $('#chat-section').show();

                        $('#chat-box').html('')

                        data.messages.forEach(message => {

                            if (message.sender != "{{request.user.username}}") {
                                html = `<div class="mb-2 ms-2" style="width:fit-content">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="p-1 mx-1 mb-1 d-flex justify-content-start align-items-center">                    
                                                    <img class="border border-dark rounded-circle me-2" src=${message.sender_image ? (message.sender_image) : 'https:static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg'} alt="" height="25px" width="25px">
                                                    <h6 class="p-0 m-0">${message.sender}</h6>                    
                                                </div>
                                                <div>
                                                    <span class="text-secondary"><small>${message.timestamp}</small></span>
                                                </div>
                                            </div>
                                            <div class="rounded-3 text-light shadow px-1" style="background: linear-gradient(to right, #da8cff, #9a55ff);">
                                                <p class="p-2 m-0"><small>${message.message}</small></p>
                                            </div>
                                        </div>`;
                            } else {
                                html = `<div class="d-flex flex-column align-items-end me-2">
                                            <div class="d-flex justify-content-end w-75">
                                                <span class="text-secondary"><small>${message.timestamp}</small></span>
                                            </div>
                                            <div class="rounded-3 text-light shadow px-1 mb-2 bg-secondary" style="width:fit-content">
                                                <p class="p-2 m-0"><small>${message.message}</small></p>
                                            </div>
                                        </div>`;
                            }
                            $('#chat-box').append(html)
                            $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);
                        });
                    } else {
                        if (data.receiver) {
                            $('#chat-heading').html(data.receiver);
                        };

                        $('#chat-box').html(''); 
                        $('#chat-section').show();
                    }
                };
            };
        };
    }; {% endcomment %}
    // Conversation WebSocket Ending



    // Chat WebSocket Starting

    {% comment %} var receiver = localStorage.getItem('receiver');
    const sender = "{{request.user.pk}}";


    chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + sender + '/' + receiver + '/'
    );

    // on socket open
    chatSocket.onopen = function (e) {
        console.log('Chat socket successfully connected.');
    };

    // on socket close
    chatSocket.onclose = function (e) {
        console.log('Chat socket closed unexpectedly');
    };

    var currentUserUsername = "{{ request.user.username }}"
    var currentUserId = "{{ request.user.pk }}"

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        
        if (data.type === 'chat_message') {

            if (data.sender != "{{request.user.username}}") {
                $('#chat-heading').html(data.sender_full_name);
            } else {
                $('#chat-heading').html(data.receiver_full_name);
            };

            let conversationId = localStorage.getItem('conversationId');
            console.log(conversationId)
            $('#last-message-' + conversationId).html(data.message);

            $('#chat-section').show();
            if (data.sender != "{{request.user.username}}") {
                    html = `<div class="mb-2 ms-2" style="width:fit-content">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="p-1 mx-1 mb-1 d-flex justify-content-start align-items-center">                    
                                        <img class="border border-dark rounded-circle me-2" src=${data.sender_image ? (data.sender_image) : 'https:static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg'} alt="" height="25px" width="25px">
                                        <h6 class="p-0 m-0">${data.sender}</h6>                    
                                    </div>
                                    <div>
                                        <span class="text-secondary"><small>${data.timestamp}</small></span>
                                    </div>
                                </div>
                                <div class="rounded-3 text-light shadow px-1" style="background: linear-gradient(to right, #da8cff, #9a55ff);">
                                    <p class="p-2 m-0"><small>${data.data}</small></p>
                                </div>
                            </div>`;
                } else {
                    html = `<div class="d-flex flex-column align-items-end me-2">
                                <div class="d-flex justify-content-end w-75">
                                    <span class="text-secondary"><small>${data.timestamp}</small></span>
                                </div>
                                <div class="rounded-3 text-light shadow px-1 mb-2 bg-secondary" style="width:fit-content">
                                    <p class="p-2 m-0"><small>${data.message}</small></p>
                                </div>
                            </div>`;
                }

                $('#chat-box').append(html);
                $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);

        }  else if (data.type === 'initial_data') {
            console.log("Executed");
            localStorage.setItem('conversationId', data.conversation_id)
            $('#chat-section').show();                      
            let html = `<a href="#" id="conversation-tile-link" onclick="(e) => e.preventDefault; conversationWebsocket(${data.conversation_id}); setActiveConversation(${data.conversation_id});">
                        <div class="row p-1 mx-1 shadow mb-2 conversation-tile active-conversation" id="conversation-tile-${data.conversation_id}" style="height: 75px; overflow-y: hidden; text-overflow: ellipsis;">
                            <div class="col-3">
                                <img class="border border-secondary rounded-circle" src=${data.conversation_image ? data.conversation_image : "https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" } alt="Messaging User Image" height="65px" width="65px">
                            </div>
                            <div class="col-9">
                                <h6><b>${data.conversation_name}</b></h6>
                                <p id="last-message-${data.conversation_id}"><span class="text-success">typing ...</span></p>
                            </div>
                        </div>
                    </a>`
            $('#conversations').append(html);
        }
    }; {% endcomment %}



    {% comment %} ###################################### {% endcomment %}

    localStorage.setItem('sender', '{{request.user.pk}}')

    
    {% comment %} console.log("working") {% endcomment %}
    {% comment %} function startWebSocket() { {% endcomment %}
    var receiver = localStorage.getItem('receiver');
    const sender = localStorage.getItem('sender');

    console.log(receiver);
    
    var chatSocket = undefined

    if (receiver != undefined) {
        chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + sender + '/' + receiver + '/'
        );
    };

    // on socket open
    chatSocket.onopen = function (e) {
        console.log('Chat socket successfully connected.');
    };

    // on socket close
    chatSocket.onclose = function (e) {
        console.log('Chat socket closed unexpectedly');
    };

    chatSocket.onmessage = function(e) {
        console.log("Working");
        const data = JSON.parse(e.data);
        
        if (data.type === 'chat_message') {

            if (data.sender != "{{request.user.username}}") {
                $('#chat-heading').html(data.sender_full_name);
            } else {
                $('#chat-heading').html(data.receiver_full_name);
            };

            let conversationId = localStorage.getItem('conversationId');
            console.log(conversationId)
            $('#last-message-' + conversationId).html(data.message);

            $('#chat-section').show();
            if (data.sender != "{{request.user.username}}") {
                    html = `<div class="mb-2 ms-2" style="width:fit-content">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="p-1 mx-1 mb-1 d-flex justify-content-start align-items-center">                    
                                        <img class="border border-dark rounded-circle me-2" src=${data.sender_image ? (data.sender_image) : 'https:static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg'} alt="" height="25px" width="25px">
                                        <h6 class="p-0 m-0">${data.sender}</h6>                    
                                    </div>
                                    <div>
                                        <span class="text-secondary"><small>${data.timestamp}</small></span>
                                    </div>
                                </div>
                                <div class="rounded-3 text-light shadow px-1" style="background: linear-gradient(to right, #da8cff, #9a55ff);">
                                    <p class="p-2 m-0"><small>${data.data}</small></p>
                                </div>
                            </div>`;
                } else {
                    html = `<div class="d-flex flex-column align-items-end me-2">
                                <div class="d-flex justify-content-end w-75">
                                    <span class="text-secondary"><small>${data.timestamp}</small></span>
                                </div>
                                <div class="rounded-3 text-light shadow px-1 mb-2 bg-secondary" style="width:fit-content">
                                    <p class="p-2 m-0"><small>${data.message}</small></p>
                                </div>
                            </div>`;
                }

                $('#chat-box').append(html);
                $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);

        }  else if (data.type === 'conversation_data') {
            console.log("Executed");
            localStorage.setItem('conversationId', data.conversation_id)
            $('#chat-section').show();                      
            let html = `<a href="#" id="conversation-tile-link" onclick="(e) => e.preventDefault; conversationWebsocket(${data.conversation_id}); setActiveConversation(${data.conversation_id});">
                        <div class="row p-1 mx-1 shadow mb-2 conversation-tile active-conversation" id="conversation-tile-${data.conversation_id}" style="height: 75px; overflow-y: hidden; text-overflow: ellipsis;">
                            <div class="col-3">
                                <img class="border border-secondary rounded-circle" src=${data.conversation_image ? data.conversation_image : "https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" } alt="Messaging User Image" height="65px" width="65px">
                            </div>
                            <div class="col-9">
                                <h6><b>${data.conversation_name}</b></h6>
                                <p id="last-message-${data.conversation_id}"><span class="text-success">typing ...</span></p>
                            </div>
                        </div>
                    </a>`
            $('#conversations').append(html);
        };
    };
    {% comment %} }; {% endcomment %}

    function sendMessage() {
        const messageInputDom = document.getElementById('chat-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    }

    // Chat WebSocket Ending
</script>

<script>
    function setActiveConversation (conversationId) {
        $('.conversation-tile').each( function () {
            $(this).removeClass('active-conversation');
        });
        $('#conversation-tile-' + conversationId).addClass('active-conversation');
    };
</script>
{% endblock scripts %}