{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="CRMS - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Expired - CRMS admin template</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/zencrm_mini_logo.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

        <!-- Feathericon CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">

        <!--font style-->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" rel="stylesheet">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}">

        <!-- Select2 CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

        <!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">

        <!-- Datatable CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">

		<!-- Theme CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/theme-settings.css' %}">

		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" class="themecls">

       
    </head>
    <body id="skin-color" class="inter">
		 
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header" id="heading">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="{% static 'images/zencrm_logo.png' %}"  alt="Logo" class="sidebar-logo">
						<img src="{% static 'images/zencrm_logo.png' %}"  alt="Logo" class="mini-sidebar-logo">
					</a>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>				
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
					<!-- Search -->
					<li class="nav-item">
						
					</li>
					<!-- /Search -->
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
							<img src="{% static 'assets/img/flags/us.png' %}" alt="" height="20"> <span>English</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/us.png' %}" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/fr.png' %}" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/es.png' %}" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/de.png' %}" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->									

					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							{% if request.user.image %}
							<span class="user-img"><img src="{{user.image.url}}" alt="Profile Picture" style="width:35px; height: 35px;">
							{% else %}
							<span class="user-img"><img src="{% static 'assets/img/profiles/avatar-21.jpg' %}" alt="">
							{% endif %}
							<span class="status online"></span></span>
							<span>{{request.user.first_name}}</span>
						</a>
						<div class="dropdown-menu">							
							<a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">						
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">                	
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="nav-item nav-profile">
				              <a href="#" class="nav-link">
				                <div class="nav-profile-image">
									{% if user.image %}
									<img src="{{request.user.image.url}}" alt="profile">				                 
									{% else %}
									<img src="{% static 'assets/img/profiles/avatar-17.jpg' %}" alt="profile">				                 
									{% endif %}
				                </div>
				                <div class="nav-profile-text d-flex flex-column">
									<span class="font-weight-bold mb-2">{% if request.user.last_name %} {{request.user.first_name}} {{request.user.last_name}} {% else %} {{request.user.first_name}} {% endif %}</span>
									<span class="text-white text-small">{{request.user.title}}</span>
				                </div>
				                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
				              </a>
				            </li>							
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">					
					
					<!-- Content Starts -->			
					<div class="alert alert-light">
						<h1>Account <span class="text-danger">Expired!</span></h1>
						{% if customer.email == request.user.email %}
						<h3>Please renew the account to reactivate the account.</h3>
						<br>
						<div class="text-end">
							<button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#customer-activation-modal" data-user-id="{{customer.pk}}" onclick="userRegistration()">Renew Account</button>
						</div>
							{% else %}
						<h3>Please contact your CRM administrator to renew your organization CRM account.</h3>
						{% endif %}
					</div>

					<!-- /Content End -->
					
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->

			<!-- Modal (Activate Customer) -->
			<div class="modal fade" id="customer-activation-modal" tabindex="-1" role="dialog" aria-modal="true">
				<div class="modal-dialog" role="document">
					<button type="button" class="close md-close" data-bs-dismiss="modal" aria-label="Close"> </button>
					<div class="modal-content">

						<div class="modal-header">
		                    <h4 class="modal-title text-center">Renewing Account</h4>
		                    <button type="button" class="btn-close xs-close" data-bs-dismiss="modal"></button>
		                  </div>

						<div class="modal-body">
							<div class="row">
						        <div class="col-md-12">
						            <form method="POST" action="{% url 'authentication:renew' customer.pk %}">
										{% csrf_token %}						            	
						            	<div class="form-group row">
				                            <div class="col-md-12">
				                                <label for="plan" class="form-label">Plan <span class="text-danger">*</span></label>
												<select class="form-control" name="plan" id="plan" oninput="userRegistration()" required>
													<option hidden disabled selected>Select Plan</option>
													{% for plan in plans %}
														<option {% if customer.plan == plan.duration %} selected {% endif %} value="{{plan.duration}}">{{plan.name}}</option>
													{% endfor %}
												</select>											
				                            </div>											
				                        </div>
										<div class="form-group row">
											<div class="col-md-12">
												<label for="no_of_users" class="form-label">Number of Users <span class="text-danger">*</span></label>
												<input class="form-control" type="number" name="no_of_users" id="no_of_users" placeholder="Number of Users" value="{{customer.no_of_users}}" oninput="userRegistration()" required>
											</div>
										</div>
										<div class="row" id="amount-details" style="display: none;">
											<br>
											<div class="d-flex justify-content-between align-items-center">
												<p>Total Amount: <span id="total-amount"></span></p>
												<p>Discount: <span class="text-danger" id="discount"></span></p>
											</div>
											<p>Amount Payable: <span class="text-success" id="amount-payable"></span></p>
										</div>
						                <div class="text-center py-3">
						                	<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded px-0" style="width:100px">Confirm</button>&nbsp;&nbsp;
						                	<button type="button" class="btn btn-secondary btn-rounded px-0" style="width:100px" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
						                </div>
						            </form>
						        </div>
							</div>
						</div>

					</div><!-- modal-content -->
				</div><!-- modal-dialog -->
			</div><!-- modal (Activate Customer)-->
		
             <!--theme settings modal-->

			 <div class="modal right fade settings" id="settings"  role="dialog" aria-modal="true">
				<div class="toggle-close">
					  <div class="toggle" data-bs-toggle="modal" data-bs-target="#settings"><i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
					  </div>
		   
				</div>
				<div class="modal-dialog" role="document">
					<div class="modal-content">
	
						<div class="modal-header p-3">
							<h4 class="modal-title" id="myModalLabel2">Theme Customizer</h4>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
						</div>
	
						<div class="modal-body pb-3">
							<div class="scroll">
							
							<div>
								<ul class="list-group">
									<li class="list-group-item border-0">
									  <div class="row">
										<div class="col">
										  <h5 class="pb-2">Primary Skin</h5>
										</div>
										<div class="col text-end d-none">
										  <a class="reset text-white bg-dark" id="ChangeprimaryDefault">Reset Default</a>
										</div>
									  </div>
									  <div class="theme-settings-swatches">
										 <div class="themes">
												<div class="themes-body">
													<ul id="theme-changes" class="theme-colors border-0 list-inline-item list-unstyled mb-0">
														
														<li class="theme-title">Solid Color</li>
														<li class="list-inline-item"><span onclick="toggleTheme('style')" class="theme-defaults bg-warnings"  ></span></li>
														<li class="list-inline-item"><span onclick="toggleTheme('style-green')" class="theme-solid-purple bg-warnings"  ></span></li>
														<li class="list-inline-item"><span onclick="toggleTheme('style-blue')" class="theme-solid-black bg-blue"></span></li>
														<li class="list-inline-item"><span onclick="toggleTheme('style-orange')" class="theme-solid-pink bg-orange"></span></li>
														<li class="list-inline-item"><span onclick="toggleTheme('style-pink')" class="theme-solid-pink bg-pink"></span></li> 
														<li class="list-inline-item"><span onclick="toggleTheme('style-purple')" class="theme-solid-purle bg-purple"></span></li> 
														<li class="list-inline-item"><span onclick="toggleTheme('style-red')" class="theme-solid-danger bg-danger"></span></li> 
														<li><br /></li>
														<li><hr /></li>
	
														<li class="theme-title">Gradient Color</li>
														
	
														<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-blue')" class="theme-orange bg-sunny-mornings"></span></li>
														<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-green')" class="theme-blue bg-tempting-azures"></span></li> 
														<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-maroon')" class="theme-grey bg-amy-crisps"></span></li>
														<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-orange')" class="theme-lgrey bg-mean-fruits"></span></li>
														<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-pink')" class="theme-dblue bg-malibu-beachs"></span></li> 
													</ul>
												</div>
											</div>
	
										 
									  </div>
									  </li>
								  </ul>
							  </div>
							  <div>
								<ul class="list-group">
								  <li class="list-group-item border-0">
									 <div class="row">
									  <div class="col">
										<h5 class="pb-2">Header Style</h5>
									  </div>
									  <div class="col text-end">
										<a class="reset text-white bg-dark" id="ChageheaderDefault">Reset Default</a>
									  </div>
									</div>
									<div class="theme-settings-swatches">
										<div class="themes">
											<div class="themes-body">
												<ul id="theme-change1" class="theme-colors border-0 list-inline-item list-unstyled mb-0">
														<li class="theme-title">Solid Color</li>
														<li class="list-inline-item"><span class="header-solid-black bg-black"></span></li>
														<li class="list-inline-item"><span class="header-solid-pink bg-primary"></span></li>
														<li class="list-inline-item"><span class="header-solid-orange bg-secondary1"></span></li> 
														<li class="list-inline-item"><span class="header-solid-purple bg-success"></span></li>
														<!-- <li class="list-inline-item"><span class="header-solid-blue bg-info"></span></li> -->
														<li class="list-inline-item"><span class="header-solid-green bg-warnings"></span></li>
														<li><br></li>
														<li><hr></li>
	
														<li class="theme-title">Gradient Color</li>
	
														<li class="list-inline-item"><span class="header-gradient-color1 bg-sunny-morning"></span></li>
														<li class="list-inline-item"><span class="header-gradient-color2 bg-tempting-azure"></span></li> 
														<li class="list-inline-item"><span class="header-gradient-color3 bg-amy-crisp"></span></li>
														<li class="list-inline-item"><span class="header-gradient-color4 bg-mean-fruit"></span></li>
														<li class="list-inline-item"><span class="header-gradient-color5 bg-malibu-beach"></span></li> 
														<li class="list-inline-item"><span class="header-gradient-color6 bg-ripe-malin"></span></li> 
														<li class="list-inline-item"><span class="header-gradient-color7 bg-plum-plate"></span></li>
														
												</ul>
											</div>
										</div>
										
									  </div>
								  </li>
								</ul>
							  </div>
							  <div>
								<ul class="list-group m-0">
									<li class="list-group-item border-0">
									  <div class="row">
										<div class="col">
										  <h5 class="pb-2">Apps Sidebar Style</h5>
										</div>
										<div class="col  text-end">
										  <a class="reset text-white bg-dark" id="ChagesidebarDefault">Reset Default</a>
										</div>
									  </div>
									  <div class="theme-settings-swatches">
										  <div class="themes">
											  <div class="themes-body">
												  <ul id="theme-change2" class="theme-colors border-0 list-inline-item list-unstyled">
														  <li class="theme-title">Solid Color</li>
														  <li class="list-inline-item"><span class="sidebar-solid-black bg-black"></span></li>
														  <li class="list-inline-item"><span class="sidebar-solid-pink bg-primary"></span></li>
														  <li class="list-inline-item"><span class="sidebar-solid-orange bg-secondary1"></span></li> 
														  <li class="list-inline-item"><span class="sidebar-solid-purple bg-success"></span></li>
														  <!-- <li class="list-inline-item"><span class="sidebar-solid-blue bg-info"></span></li> -->
														  <li class="list-inline-item"><span class="sidebar-solid-green bg-warnings"></span></li>
														  <li><br></li>
														  <li><hr></li>
	
														  <li class="theme-title">Gradient Color</li>
	
														  <li class="list-inline-item"><span class="sidebar-gradient-color1 bg-sunny-morning"></span></li>
														  <li class="list-inline-item"><span class="sidebar-gradient-color2 bg-tempting-azure"></span></li> 
														  <li class="list-inline-item"><span class="sidebar-gradient-color3 bg-amy-crisp"></span></li>
														  <li class="list-inline-item"><span class="sidebar-gradient-color4 bg-mean-fruit"></span></li>
														  <li class="list-inline-item"><span class="sidebar-gradient-color5 bg-malibu-beach"></span></li> 
														  <li class="list-inline-item"><span class="sidebar-gradient-color6 bg-ripe-malin"></span></li> 
														  <li class="list-inline-item"><span class="sidebar-gradient-color7 bg-plum-plate"></span></li>
														  
												  </ul>
											  </div>
										  </div>
										  
										</div>
									</li>
								  </ul>
								<div class="row Default-font">
									<div class="col">
										<h5 class="pb-2">Font Style</h5>
									</div>
									<div class="col text-end">
										<a class="reset text-white bg-dark font-Default">Reset Default</a>
									</div>
								</div>
								<ul class="list-inline-item list-unstyled font-family border-0 p-0" id="theme-change">
								  
								  <li class="list-inline-item roboto-font" >Roboto</li>
								  <li class="list-inline-item poppins-font">Poppins</li>
								  <li class="list-inline-item montserrat-font" >Montserrat</li>
								  <li class="list-inline-item inter-font">Inter</li>
								</ul>
							</div>
							
						</div>
						</div>
	
					</div>
				</div>
			</div>

	

		
		<!-- jQuery -->
        <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
		<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

		 <!-- Custom JS -->
		<!-- theme JS -->
		<script src="{% static 'assets/js/theme-settings.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'assets/js/app.js' %}"></script>

		<!-- W3 -->

		<!-- Reactivating Customer -->
		<script src="{% static 'js/landing/userRegistration.js' %}"></script>
		
    </body>
</html>