{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="CRMS - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Login - CRMS admin template</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/zencrm_mini_logo.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

        <!-- Feathericon CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">

        <!--font style-->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" rel="stylesheet">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" class="themecls">
		
		<!-- HTML5 shim and Respond.js' %} IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
			<script src="{% static 'assets/js/respond.min.js' %}"></script>
		<![endif]-->

		<style>
			.message-div ul {
				padding-left: 0;
			}
			.message-div li {
				list-style: none;
			}

			#resend-otp {
            	display: none;
        	}
		</style>
    </head>
    <body class="account-page">
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<div class="account-content">
				
				<div class="container">
				
					<!-- Account Logo -->
					<div class="account-logo">
						<a href="index.html"><img src="{% static  'images/zencrm_logo.png' %}" alt="ZENCRM Logo"></a>
					</div>
					<!-- /Account Logo -->
					
					<div class="account-box">
						<div class="account-wrapper">
							<h3 class="account-title">Login</h3>
							<p class="account-subtitle">Access to our dashboard</p>
							
							<div class="message-div">
								{% if messages %}
									<ul class="messages">
										{% for message in messages %}
										<li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
										{% endfor %}
									</ul>									
								{% endif %}
							</div>

							<!-- Account Form -->
							<form method="POST" action="{% url 'authentication:login' %}">
								{% csrf_token %}								
								<div class="form-group">
									<label>Username</label>
									<input class="form-control" type="text" name="username" required>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col">
											<label>Password</label>
										</div>
										<div class="col-auto">
											<a class="text-muted" tabindex="-1" href="#" data-bs-toggle="modal" data-bs-target="#forgot-password-modal">
												Forgot password?
											</a>
										</div>
									</div>
									<input class="form-control" type="password" name="password" required>
								</div>
								<br>
								<div class="form-group text-center">
									<button class="btn btn-primary account-btn" type="submit">Login</button>
								</div>								
							</form>
							<!-- /Account Form -->
							
						</div>
					</div>
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->

		<!-- Modal (Forgot Password) -->
		<div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog" aria-modal="true">
			<div class="modal-dialog" role="document">
				<button type="button" class="close md-close" data-bs-dismiss="modal" aria-label="Close"> </button>
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title text-center" id="modal-title">Forgot Password ?</h4>
						<button type="button" class="btn-close xs-close" data-bs-dismiss="modal"></button>
					  </div>

					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<form method="POST" id="forgot-password-form" enctype="multipart/form-data">
									{% csrf_token %}
									<div id="forgot-password-inner-div">					            	
										<div class="form-group row">
											<div class="col-md-12">
												<label for="email" class="form-label">Email <span class="text-danger">*</span></label>
												<input type="email" class="form-control" name="email" id="email-input" placeholder="Email ID" required>
												<small>
													<p class="text-danger" id="invalid-email"></p>
												</small>
											</div>				                            
										</div>
										<div class="alert alert-light">
											<small>
												<p>Provide your correct email id and click submit. <br>Once submitted you will receive the OTP required for resetting your account password via email.</p>
											</small>
										</div>										
									</div>
									<div class="text-center py-3">
										<button type="button" class="border-0 btn btn-primary btn-gradient-primary btn-rounded px-0" style="width:100px" id="forgot-password-submit-btn" onclick="forgotPassword()">Submit</button>&nbsp;&nbsp;
										<button type="button" class="btn btn-secondary btn-rounded px-0" style="width:100px" data-bs-dismiss="modal" aria-label="Close" id="forgot-password-cancel-btn">Cancel</button>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div><!-- modal-content -->
			</div><!-- modal-dialog -->
		</div><!-- modal (Forgot Password)-->


		<!-- Modal (Reset Password) -->
		<div class="modal fade" id="reset-password-modal" tabindex="-1" role="dialog" aria-modal="true">
			<div class="modal-dialog" role="document">
				<button type="button" class="close md-close" data-bs-dismiss="modal" aria-label="Close"> </button>
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title text-center" id="modal-title">Resetting Password</h4>
						<button type="button" class="btn-close xs-close" data-bs-dismiss="modal"></button>
					  </div>

					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<form method="POST" id="password-reset-form">
									{% csrf_token %}									
									<div class="form-group row">
										<div class="col-md-12">
											<label for="otp" class="form-label">OTP <span class="text-danger">*</span></label>
											<input type="text" class="form-control" name="otp" id="otp" placeholder="OTP" required>
										</div>
										<div class="text-end">
											<small>
												<p class="m-0 p-0" id="resend-otp-standby">Resent OTP in <span id="timer" class="mb-0"></span></p>
												<button type="button" id="resend-otp" class="btn btn-primary btn-sm" onclick="startCountdown(5, document.getElementById('timer'), document.getElementById('resend-otp'))">Resend OTP</button>
											</small>
										</div>			                            
									</div>
									<div class="form-group row">
										<div class="col-md-12">
											<label for="password" class="form-label">New Password <span class="text-danger">*</span></label>
											<input type="password" class="form-control" name="new_password" id="new_password" placeholder="New Password" required>
										</div>				                            
									</div>
									<div class="form-group row">
										<div class="col-md-12">
											<label for="repeat_password" class="form-label">Repeat Password <span class="text-danger">*</span></label>
											<input type="password" class="form-control" name="repeat_password" id="repeat_password" placeholder="Repeat Password" required>
										</div>				                            
									</div>										
									<div class="text-center py-3">
										<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded px-0" style="width:100px">Submit</button>&nbsp;&nbsp;
										<button type="button" class="btn btn-secondary btn-rounded px-0" style="width:100px" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
									</div>
								</form>
								
							</div>
						</div>
					</div>

				</div><!-- modal-content -->
			</div><!-- modal-dialog -->
		</div><!-- modal (Reset Password)-->
		
		<!-- jQuery -->
        <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Custom JS -->
		<!-- theme JS -->
		<script src="{% static 'assets/js/theme-settings.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'assets/js/app.js' %}"></script>

		<!-- W3 -->

		<!-- Forgot Password -->
		<script src="{% static 'js/authentication/forgotPassword.js' %}"></script>


		<script>
			// document.getElementById('reset-password-btn').addEventListener('click', function () {
			// 	var resetPasswordModal = new bootstrap.Modal(document.getElementById('reset-password-modal'));
			// 	resetPasswordModal.show();
			// 	startCountdown(300, document.getElementById('timer'), document.getElementById('resend-otp'));
			// });
	
			function startCountdown(duration, display, resendBtn) {
				var timer = duration, minutes, seconds;
				var countdownInterval = setInterval(function () {
					minutes = parseInt(timer / 60, 10);
					seconds = parseInt(timer % 60, 10);
	
					minutes = minutes < 10 ? "0" + minutes : minutes;
					seconds = seconds < 10 ? "0" + seconds : seconds;
	
					display.textContent = minutes + ":" + seconds;
	
					if (--timer < 0) {
						clearInterval(countdownInterval);
						display.textContent = "";
						document.getElementById('resend-otp-standby').style.display='none';
						resendBtn.style.display = 'block';
					}
				}, 1000);
			}
		</script>
    </body>
</html>